<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="personService" class="test.PersonService">
        <property name="name" value="hello, Spring"/>
    </bean>

    <!--using lowercase in bean id name-->
    <bean id="stoneAxe" class="test.StoneAxe"/>
    <bean id="steelAxe" class="test.SteelAxe"/>
    <bean id="chinese" class="test.Chinese">
        <property name="axe" ref="steelAxe"/>
    </bean>

    <bean id="chinese2" class="test.Chinese">
        <constructor-arg ref="stoneAxe"/>
    </bean>
</beans>